<!-- Whubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Dashboard Template- W3hubs.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Whubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs.">
    <meta name="author" content="W3hubs.com">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="usertemplate.component.css"> 
</head>
<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
         	


         	  <div class="collapse navbar-collapse"> 
         	   
         	  </div>
         </div>
      </div>




      <div class="container">
      	   <div class="row">
      	   
        <div class="col-md-3 sidebar">

        <h3 class="page-header">User Dashboard</h3>
         
          
        
        </div>

        
        <div class="col-md-9">
          <h3 class="page-header">Activities
          <span class="glyphicon glyphicon-refresh pull-right"></span>
          </h3>

          
          	<div class="row">
          		<div class="col-sm-7">
          			<div class="form-group">
                  <li class="nav-item">
                    <button type="submit"  class="btn" (click)="bttnclick()" class="m-1 btn btn-light btn-outline-primary">User-add task</button>
                  </li>
                  <li class="nav-item">
                    <button type="submit"  class="btn" (click)="buttonclick()" class="m-1 btn btn-light btn-outline-primary">Task-Edit/Delete</button>
                  </li>
                  <li class="nav-item">
                    <button type="submit"  class="btn" (click)="btclick()" class="m-1 btn btn-light btn-outline-primary">View Task Lists</button>
                  </li>
                    </div>
                   
          		</div>
          		
          	</div>
          
        
        </div>
    </div>

</div>
    <footer>
      <p>© User 2022</p>
    </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>